$main-bg: #dfe6e9;
$purple: #5D9CEC;
$deep-purple:  #2E2F45;
$light-green: rgba(238,174,202, 0.5);

// Basic Styling
body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 1em;
  li {
    list-style: none;
    padding-left: 1em;
    a {
      padding: 1em;
      color: $deep-purple;
      text-decoration: none;
      -webkit-transition: background-color .5s;
      -o-transition: background-color .5s;
      transition: background-color .5s, color .5s;
      &:hover {
        background-color: $light-green;
        color: white;
      }

    }
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  box-shadow: 0 0 10px #000;
  color: $deep-purple;
  .slam-left {
    margin-right: auto;
  }
  .new_line{
    white-space: pre;
    //margin-right: auto;
  }
}

@media all and (max-width: 500px) {
  ul {
    padding: 0;
    li {
      width: 100%;

      a {
        display: block;
        text-align: center;
      }
    }
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .slam-left {
      margin-right: 0;
    }
  }
}